<div class="container" role="main" style="margin-top: 2%">
    <div class="page-header">
        <h1>About Me <small>Because I can tell you're interested...</small></h1>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{aboutMe}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="Carousel" class="carousel slide" style="width: 100%; margin: 0 auto">
                            <ol class="carousel-indicators">
                                <li data-target="Carousel" data-slide-to="0" class="active"></li>
                                <li data-target="Carousel" data-slide-to="1"></li>
                                <li data-target="Carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="images/about/about1.png" class="img-responsive" >
                                </div>
                                <div class="item">
                                    <img src="images/about/about2.png" class="img-responsive" >
                                </div>
                                <div class="item">
                                    <img src="images/about/about3.png" class="img-responsive" >
                                </div>
                            </div>
                            <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </span>
                            <span class="right carousel-control" data-target="#Carousel" data-slide="next">
                               <span class="glyphicon glyphicon-chevron-right"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>