<div class="container" role="main">

    <div class="page-header">
        <h1>Contact Me</h1>
        <p class="lead">You know you want to...</p>
    </div>


    <!-- Display any messages here -->
    <div class="alert alert-success" ng-show="successMessage" role="alert">{{successMessage}}</div>
    <div class="alert alert-danger" ng-show="errorMessage" role="alert">{{errorMessage}}</div>
    <!-- End messages -->

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span col-md-6">
                        <form name="form" class="form-horizontal" class="simple-form">
                            <fieldset>

                                <!-- Form Name -->
                                <legend>Send a Message</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Name</label>
                                    <div class="col-md-5">
                                        <input id="name" ng-model="message.name" name="name" placeholder="Somebody somebodyson" class="form-control input-md" required type="text">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Email</label>
                                    <div class="col-md-5">
                                        <input id="email" ng-model="message.email" name="email" placeholder="somebody@somewhere.com" class="form-control input-md" required type="text">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Subject</label>
                                    <div class="col-md-5">
                                        <input id="subject" ng-model="message.subject" name="subject" placeholder="Something interesting.." class="form-control input-md" required type="text">

                                    </div>
                                </div>

                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Message</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" ng-model="message.message" id="message" required name="message">A message...</textarea>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <button ng-click="send(form)" class="btn btn-primary">Send</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <div class="span col-md-6">
                        <div class="well" style="margin-left: 1%; margin-top: 5%; height:100%; text-align: center">
                            <p>
                            <h2>For Inquiries Please Call: </h2>
                            <h3><span><a href="tel:07769155568" style="text-decoration:none;">07769155568</a></span></h3>
                            </p>
                            <p>
                            <h2>Or you can email me at: </h2>
                            <h3><span><a href="mailto:c.sloan7597@googlemail.com" style="text-decoration:none;">c.sloan7597<br>@googlemail.com</a></span></h3>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>