<div class="container" role="main">

    <div class="page-header">
        <h1>CV</h1>
        <p class="lead">My Experience & Qualifications</p>
    </div>

    <accordion close-others="oneAtATime">
        <accordion-group is-open="status.isCareerOpen">
            <accordion-heading>Career<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCareerOpen, 'glyphicon-chevron-right': !status.isCareerOpens}"></i></accordion-heading>
            <div class="panel-body">
                <p>Here is a short description of my previous jobs in the Software industry.</p>
                <div name="job" ng-repeat="job in jobs"  ng-class="{ 'well' : job.currentJob}">
                    <p ng-show="job.currentJob" ><span class=" glyphicon glyphicon-asterisk" ></span> [Current Job]</p>

                    <div id="logo" style=" width: 8%; max-height: 5%; float:right; padding-bottom: 5px">
                        <img ng-src="{{job.employerIcon}}" class="img-responsive" data-parent="#job" style=" width: 100%;" >
                    </div>

                    <div class="page-header" style="margin-top: 5%; margin-bottom : 4%">
                        <h4>{{job.jobTitle}} @ {{job.company}} <small> - {{job.startDate}} to {{job.endDate}}
                            ({{job.location}})</small></h4>
                    </div>
                    <p>
                        <b>Description:</b><br>
                        {{job.description}}
                    </p>
                    <p>
                        <b>Responsibilities:</b><br>
                    <ul>
                        <li ng-repeat="responsibility in job.responsibilities">{{responsibility}}</li>
                    </ul>
                    </p>
                    <p>
                        <b>Tech Used:</b><br>
                        {{job.techUsed}}
                    </p>
                </div>
            </div>
        </accordion-group>

        <accordion-group is-open="status.isTechExpOpen">
            <accordion-heading>Technology Experience <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isTechExpOpen, 'glyphicon-chevron-right': !status.isTechExpOpen}"></i></accordion-heading>
            <div name="tech" ng-repeat="tech in techsUsed" style="float : left; margin: 10px" class="col-md-3">
                    <div class="panel panel-default">
                        <div class ="panel-body">
                            <p><b>{{tech.name}}</b></p> <p>{{tech.description}}</p>
                        </div>
                    </div>
            </div>
        </accordion-group>

        <accordion-group is-open="status.isEducationOpen">
            <accordion-heading>Education / Qualifications <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isEducationOpen, 'glyphicon-chevron-right': !status.isEducationOpen}"></i></accordion-heading>
            <div class="col-md-6">
                <p><b>University: </b></p>
                <table class="table table-bordered" style="width : 100%">
                    <tr>
                        <th>
                            Module Name
                        </th>
                        <th>
                            Grade
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Final Year Project - An Evaluation of OpenStack
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Parallel Scientific Computing
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Natural Language Processing
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Biological & Bio-Inspired Computation
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Distributed Systems
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Knowledge Representation
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            User Adaptive Intelligent Systems
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Artificial Intelligence
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Interactive Database Systems
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Software Systems Engineering
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Theoretical Computer Science
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Practical Problem Solving
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Core Programming
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Modelling, Analysis & Algorithm Design
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maths for Computing
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Project Management
                        </td>
                        <td>
                            1st
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Numerical Computation & Visualisation
                        </td>
                        <td>
                            2:1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Professional Development
                        </td>
                        <td>
                            2:1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Computer Systems
                        </td>
                        <td>
                            2:1
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <p><b>A Levels: </b></p>
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Subject
                        </th>
                        <th>
                            Grade
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Computing
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Economics
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Law
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            General Studies
                        </td>
                        <td>
                            A*
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mathematics (AS)
                        </td>
                        <td>
                            B
                        </td>
                    </tr>
                </table>
                <br>

                <p><b>GCSEs: </b></p>
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Subject
                        </th>
                        <th>
                            Grade
                        </th>
                    </tr>
                    <tr>
                        <td>
                            English (Language & Literature)
                        </td>
                        <td>
                            A & B
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mathematics
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Physics
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Biology
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chemistry
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            History
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Religious Studies
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Drama
                        </td>
                        <td>
                            B
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Spanish
                        </td>
                        <td>
                            C
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DT
                        </td>
                        <td>
                            C
                        </td>
                    </tr>
                </table>
            </div>
        </accordion-group>

        <accordion-group is-open="status.isFullCvOpen">
            <accordion-heading>Full CV (PDF)<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFullCvOpen, 'glyphicon-chevron-right': !status.isFullCvOpen}"></i></accordion-heading>

            <!-- Google docs embed -->
            <iframe src="https://docs.google.com/viewer?srcid=0B2HMk1AmTvyAcTl6N3kzWXVoNEE&pid=explorer&efh=false&a=v&chrome=false&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>
        </accordion-group>
    </accordion>

</div>