<div class="container" role="main">

    <div class="page-header">
        <h1>Conor Sloan | Software Developer</h1>
        <p class="lead">Currently an SDE @ The Book Depository, an Amazon Company.</p>
    </div>

    <div class="col-md-5">
        <h3>Career at a Glance</h3>
        <hr class="featurette-divider">

        <ul class="list-group">
            <a ng-repeat="item in atAGlanceItems" class="list-group-item" ng-click="showAtAGlanceContent($index)">{{item.title}}</a>
        </ul>

        <div class="panel panel-default" ng-show="atAGlanceItem">
            <div class="panel-body">

                <div style="float: right" >
                    <span ng-click="showAtAGlanceContent(-1)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>

                <h4>{{atAGlanceItem.title}}</h4>
                <p ng-repeat="line in atAGlanceItem.content">{{line}}</p>
            </div>
        </div>

    </div>

    <div class="col-md-7">
        <h3>Some of my work...</h3>
        <hr class="featurette-divider">

        <div class="panel panel-default">
            <div class="panel-body">
                <div style="height: 405px">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto; max-height: 400px; padding:3%">
                            <div class="carousel-caption">
                                <h4>{{slide.title}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
</div>