<div class="container" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron" style="margin-top: 2%;">
        <h2>Hi!</h2>
        <p>Welcome, this is my portfolio website, created to provide a quick and easy way for
        you to get to know what I'm all about. Please use the links provided to get what you are looking for!</p>


    </div>

    <!-- End Jumbotron -->

    <!-- Featurette -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">A little about me. <span class="text-muted">Conor Sloan</span></h2>
            <p class="lead">I'm Conor, a recently graduated Software Development Engineer for the Book Depository, an Amazon company.

            </p>
        </div>
        <div class="col-md-5">
            <img src="images/me.jpg" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
    </div>
    <hr class="featurette-divider">
</div>