<div class="container" role="main">

    <!-- Featurette -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Hi!</h2>
            <p class="lead">I'm Conor, a recently graduated Software Development Engineer for the Book Depository, an Amazon company.
            </p>
            <p class="lead">Creating clean, maintainable, and scalable software is my passion.</p>
            <p class="lead">Working in teams and solving complex problems gives me
                a great deal of pleasure, and above all, I love to code!</p>
        </div>
        <div class="col-md-5">
            <img src="images/me.jpg" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Some of my work...</h2>
            <div class="col-md-12">
                <slick init-onload=true data="projects" dots="true" infinite="true" responsive="breakpoints" slides-to-show=2 slides-to-scroll=2>
                    <div ng-repeat="project in projects">
                            <div style="max-height: 500px; padding:3%">
                                <p class="lead"><a href="#/projects/{{project.id}}" style="text-decoration: none; color:black; font-weight: bold">{{project.name}}</a> - {{project.tagLine}}</p>
                                <img class="img-responsive"  ng-src="{{project.smallImage}}" alt="{{project.name}}">
                            </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>